html, body {
    height: 100%;
    margin: 0;
    font: 1.1em "Roboto", sans-serif;
    color: dimgrey;
}

header {
    font-size: 1.5em;
    font-weight: bold;
    background-image: url("../img/img-header.jpg");
}

footer {
    color: white;
    background-color: gray;
}

a {
    text-decoration: none;
    color: lightskyblue;
    font-weight: bold;
}

p {
    text-align: justify;
    text-indent: 2em;
    word-break: break-all;
}

q {
    word-spacing: 4px;
    line-height: 1em;
    font-size: 1em;
}

h1,
h2,
h3 {
    text-shadow: 1px 1px lightgray;
    text-transform: uppercase;
    letter-spacing: .2rem;
}